.nav-wrapper{
    padding-left: 20px;
}

.container{
    padding-top: 30px;
}

body{
    background-color: #fafafa;
}

nav {
    color: black;
}

nav a{
    color: #6b51c0;
}

nav ul li a{
    color: #795dd6;
    font-family: novecento-sans-wide, sans-serif;

font-weight: 300;

font-style: normal;

  }

.card {
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 5vh;
  }

#map{
    height: 70vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20vh;
}

/* .card-image{
    width: 30vw;
   
} */

.card-title {
    font-family: niveau-grotesk-small-caps, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.card .card-title{
    font-size: 26pt;
    font-weight: 700;
}

.waves-effect{
    border-radius: 2em;
    font-family: niveau-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    
}


#courts .waves-effect{
    width: 30%;
    border-radius: 2em;
    font-family: niveau-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
}

.titleColor {
    display: flex;
    justify-content: center;
   
}

h1{
    text-align: center;
    margin-bottom: 5vh;
    padding: 10px;
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: white;
    background-color: #795dd6;
    border-radius: 2em;
}

h4{
    margin-left: 10vw;
    margin-bottom: 10vh;
    font-family: niveau-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
}

#courts{
    margin-left: 10vw;
}

.leaflet-popup-content-wrapper{
    text-align: center;
}

.leaflet-container   a{
    color: white;
    font-size: 12pt;
}

.grid-container{
    text-align: center;
    position: absolute;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;

}

.grid-item{
    margin: 4px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.grid-item button{
    border: none;
}

.mapColor {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 1px;
    border-radius: 50px;
    justify-content: center;
    background-color: #795dd6;
}

/* .titleColor {
    background-color: #795dd6;
    justify-content: center;
    border-radius: 2em;
} */