.nav-wrapper{
    padding-left: 20px;
}

.container{
    padding-top: 30px;
}

body{
    background-color: #ffffff;
    margin-bottom: 5vh;
}

nav {
    color: rgb(255, 255, 255);
}

nav a{
    color: #ffffff;
}

nav ul li a{
    color: #ffffff;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;

  }

.card {
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 5vh;
  }



#map{
    height: 70vh;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 2em;

}

/* .card-image{
    width: 30vw;
   
} */

.card-title {
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.card .card-title{
    font-size: 26pt;
    font-weight: 700;
}

.waves-effect{
    border-radius: 2em;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    
}


#courts .waves-effect{
    width: 30%;
    border-radius: 2em;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
}

.titleColor {
    display: flex;
    justify-content: center;
   
}

h1{
    text-align: center;
    margin-bottom: 5vh;
    padding: 20px;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: white;
    background-color: #80cbc4 ;
    border-radius: 2em;
}

h4{
    margin-left: 10vw;
    margin-bottom: 10vh;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
}

#courts{
    margin-left: 10vw;
}

.modalTitle{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 3vh;
}

.date{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: #80cbc4;
}

.leaflet-popup-content-wrapper{
    text-align: center;
}

.leaflet-container   a{
    color: white;
    font-size: 12pt;
}

/* .grid-container{
    text-align: center;
    position: absolute;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;

} */

.grid-item{
    display: flex;
    justify-content: center;
    margin-left: 5vh;
    margin-right: 5vh;
    margin: 5px;
    font-family: niveau-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.colorChange{
    color: brown;
}


/* .mapColor {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    justify-content: center;
    background-color: #795dd6;
} */


/* .desc{
    padding-left: 3vh;
    display: flex;
    justify-content: center;
    color: #795dd6;
    font-size: 14pt;
}

.descColor{
    position: absolute;
    margin: 2vh;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 2em;
} */



@media only screen and (max-width: 600px) {
    #map{
        height: 70vh;
        margin-left: 2vh;
        margin-right: 2vh;
        border-radius: 2em;
    }

    .mapColor {
        padding-top: 20px;
        padding-bottom: 2vh;
        border-radius: 2em;
        background-color: #f7fde2;
    }

    .desc{
        margin: 10px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: niveau-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .descColor{
        margin: 2vh;
        background-color: #80cbc4;
        display: flex;
        justify-content: center;
        border-radius: 2em;
    }

    h1{
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px;
        font-family: acier-bat-solid,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24pt;
        color: white;
        background-color: #80cbc4;
        border-radius: 2em;
    }

  }

  
@media only screen and (min-width: 600px) {
    h1{
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px;
        font-family: acier-bat-solid,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28pt;
        color: white;
        background-color: #80cbc4;
        border-radius: 2em;
    }

    .mapColor {
        padding-top: 20px;
        padding-bottom: 2vh;
        border-radius: 2em;
        background-color: #f7fde2;
    }

    .desc{
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: niveau-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .descColor{
        margin: 2vh;
        background-color: #80cbc4 ;
        display: flex;
        justify-content: center;
        border-radius: 2em;
    }
}

@media only screen and (min-width: 992px){

    h1{
        text-align: center;
        margin-bottom: 2vh;
        padding: 20px;
        font-family: acier-bat-solid,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32pt;
        color: white;
        background-color: #80cbc4 ;
        border-radius: 2em;
    }

    .mapColor {
        margin-left: 10vh;
        margin-right: 10vh;
        padding-top: 20px;
        padding-bottom: 2vh;
        border-radius: 2em;
        background-color: #f7fde2;
    }

    .desc{
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 14pt;
        font-family: niveau-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media screen and (max-width: 750px) {
    .row .col{
        margin: 0;
        float: none;
    }
    .row .col.offset-s2{
        margin: 0;
    }
     .row .col.m5 {
        width: auto;
    }
}